h1 {
    border: 3px solid orange;
 color: crimson;
     text-align: center; 
 }

body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
  }


#intro {
    color: black;
    display: flex;
    flex-direction: row;
}

#hobbies {
    color: black;
    display: flex;
    flex-direction: row;
    width: 50px; 
}