h1 {
    border: 3px solid orange;
 color: crimson;
     text-align: center; 
 }
 

body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
  }
 
ol {
	padding-left: 0;
    color: crimson;

}

#intro {
    color: black;
}

#hobbies {
    color: black;
    display: flex;
    flex-direction: row; 
}

.faveButtons {
    width: 10vh; 
    background-color: goldenrod
}